/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAEAEA;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Container principal */
div {
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título */
h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #34495E;
    margin-bottom: 20px;
}

/* Estilo do formulário */
label {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

/* Estilo dos campos de input */
input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    transition: border-color 0.3s ease;
}

/* Foco nos campos de input */
input:focus {
    border-color: #3498db;
    outline: none;
}

/* Estilo do botão */
button {
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* Efeito de hover no botão */
button:hover {
    background-color: #27ae60;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    div {
        padding: 20px;
    }
}
